{% extends ['/layout/base.twig'] %}

{% block list %}
    <ul class="list-group list-group-flush">
        {% for product in products %}
            <li class="container list-group-item d-flex bg-light">
                <div>
                    <label>Name:</label>
                    <p class="me-2">{{ product.name }}</p>
                    <label>Manufacturer:</label>
                    <p class="me-2">{{ product.manufacturer }}</p>
                    <label>Price:</label>
                    {% if product.price == product.newPrice %}
                        <p>{{ product.price }} HUF</p>
                    {% else %}
                        <p><s class="me-2">{{ product.newPrice }} HUF</s><span class="text-danger">{{ product.price }} HUF</span></p>
                    {% endif %}
                </div>
                <div class="ms-auto d-flex">
                    <button onclick="addToCart({{ product.id }})" class="btn btn-light"><i class="bi bi-plus-square" style="font-size: 2rem"></i></button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}